.slidecontainer {
    width: 100%;
    display: flex;
    margin-left: 5%;
    justify-content: flex-start;
  }
  
  .slider,#brains {
    -webkit-appearance: none;
    width: 60%;
    height: 20px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin:2% 4%;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #7c1dca;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #c923eb;
    cursor: pointer;
  }
  .slidecontainer>p{
    width: 100px;
  }

  .slidecontainer >span{
    position: relative;
    margin-top: 2%;
  }