:root{
    --btn-color:rgb(240, 80, 80);;
}
body{
    margin:0;
    background:rgb(53, 51, 51);
    overflow: hidden;
    display: flex;
    align-items: center;
    place-content: center;
}
.Container-btn{
    position: absolute;
    left:0;
    background-color: rgba(58, 58, 58,0.4);
    width: 100%;
    height: 10pc;
    top:0px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    margin: 2%;
    width: min(30%,300px);
    height: 50px;
    border: none;
    background-color:var(--btn-color);
    color: #fff;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(236, 11, 11);;
}
.btn:active{
    background-color: green;
}
#mycanvas{
    background-color: rgb(173, 171, 171);
    height: 100%;
}
#Score{
    font-size:2pc;
    color: #fff;    
}

.controllers{
    position: absolute;
    bottom: 0;
    right:0;
    background-color: rgba(0,22,2,0.3);
    border-radius: 30px;
    padding: 2%;
    margin: 1%;
    color: #fff;
    width: 30rem;
    height: 15rem;;
}

.controllers  label{
    margin-right:10em;

}